# Ignore everything:
*

# Except for the themes directories:
!modules/julienramard/*
!modules/julienramard/classes/*
!modules/julienramard/controllers/admin/*
!modules/julienramard/models/*
!modules/julienramard/views/css/*
!modules/julienramard/views/js/*
!modules/julienramard/views/templates/admin/*
!modules/julienramard/views/templates/hooks/front/*
